@{
    Layout = "~/Layouts/GeneralLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Download file</title>
</head>
<body>
    <div>
        <h1 class="h1-title">Fhzuuuuh you downloaded the file :D</h1>
</div>
</body>
</html>
