@using ShareMate.Entities
@using ShareMate.BLL.Interfaces
@using ShareMate.Ioc
@using Ninject
@{
    Layout = null;
    var userLogic = DependencyResolver.Kernel.Get<IUserLogic>();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShareMate</title>
    <link href="~/Styles/Style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <header>
            @RenderSection("Header")
            
            <h1 class="h1-title">ShareMate.com</h1>
            @if(User.Identity.IsAuthenticated)
            {
                <a href="~/Pages/" class="login-element"></a>
                //User user = userLogic.GetUserByUsername(User.Identity.Name);
                <div class="login-element"> @User.Identity.Name</div>
            }
            else
            {
                <a href="~/Pages/Login/Authorization.cshtml" class="login-element">Login</a>
            }
        </header>

    </div>
    <div class="content">
        <div class="content-conteiner">
            <a href="~/Pages/Login/Logout.cshtml" class="menu-element">Logout</a>
            <a href="~/Pages/ShareFile.cshtml" class="menu-element">Share File</a>
            <a href="~/Pages/UploadFile.cshtml" class="menu-element">Upload</a>
            <a href="~/Pages/Search.cshtml" class="menu-element">Search</a>
            <a href="~/Pages/FileRequest.cshtml" class="menu-element">File Request</a>
            <a href="~/Pages/MyFiles.cshtml" class="menu-element">My Files</a>
        </div>
        <div class="usability-content">
            @RenderBody()
        </div>
        
    </div>
</body>
</html>
