body {
    background: rgb(55,55,55);
    

}

header {
    height: 120px;
    width: 80%;
    background: rgb(0, 147, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px 15px 15px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.h1-title {
    font: normal small-caps 60px/27px fantasy;
    color: aliceblue;
    float: left;
    margin-top: 2.10%;
    margin-left: 5%;
    text-shadow: black 18px 9px 18px;
}
.menu-element {
    position: relative;
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 3.25%;
    margin-right: 4.65%;
    padding: 19px;
    text-decoration: none;
    color: aliceblue;
    float: right;
    border-radius: 15px 15px 15px 15px;
    border-left: 3px solid #0093ff;
    border-right: 3px solid #0093ff;
    border-top: 3px solid #0093ff;
    border-bottom: 3px solid #0093ff;
    font: normal small-caps 26px/28px fantasy;
    text-shadow: black 0 0 2px;
    margin-bottom: 0.5%;
}

.menu-element-profile {
}
.login-element {
    position: relative;
    display: inline-block;
    margin-top: 1.5%;
    margin-left: 2.25%;
    margin-right: 4.65%;
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    float: right;
    border-radius: 15px 15px 15px 15px;
    border-left: 3px solid #0093ff;
    border-right: 3px solid #0093ff;
    border-top: 3px solid #0093ff;
    border-bottom: 3px solid #0093ff;
    font: normal small-caps 47px/28px fantasy;
    text-shadow: black 17px 10px 18px;
    margin-bottom: 0.5%;
}
    .login-element:hover {
        
        box-shadow: 0 0 10px rgba(240,248,255,1.5);
        border-left: 3px solid #f0f8ff; /* Параметры линии */
        border-right: 3px solid #f0f8ff; /* Параметры линии */
        border-top: 3px solid #f0f8ff; /* Параметры линии */
        border-bottom: 3px solid #f0f8ff; /* Параметры линии */
        text-shadow: white 2px 3px 8px;
    }
.menu-element:hover {
    
    box-shadow: 0 0 10px rgba(240,248,255,1.5);
    border-left: 3px solid #f0f8ff; /* Параметры линии */
    border-right: 3px solid #f0f8ff; /* Параметры линии */
    border-top: 3px solid #f0f8ff; /* Параметры линии */
    border-bottom: 3px solid #f0f8ff; /* Параметры линии */
}

.content {
    position: absolute;
    background: rgb(0, 147, 255);
    display: block;
    width: 77%;
    height: 75%;
    margin: auto;
    margin-top: auto;
    margin-left: auto;
    margin-left: 10%;
    padding: 25px;
    margin-top: 30px;
    border-radius: 15px 15px 15px 15px;
}

.content-conteiner {
    position: relative;
    display: inline-block;
    background: rgb(55,55,55);
    width: 100%;
    border-radius: 15px 15px 15px 15px
}
.usability-content {
    position: relative;
    background: rgb(55,55,55);
    width: 100%;
    height: 85%;
    border-radius: 15px 15px 15px 15px;
    margin-top: 18px;
    display: block;
}

.file-row{
    position: relative;
    border-radius:15px 15px 15px 15px;
    width:90%;
    height:30px;
    border-color:aquamarine;
}
.download-file-button {
    position: relative;
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 3.25%;
    padding: 19px;
    text-decoration: none;
    color: aliceblue;
    float: right;
    border-radius: 15px 15px 15px 15px;
    border-left: 3px solid #0093ff;
    border-right: 3px solid #0093ff;
    border-top: 3px solid #0093ff;
    border-bottom: 3px solid #0093ff;
    font: normal small-caps 26px/28px fantasy;
    text-shadow: black 0 0 2px;
    margin-bottom: 0.5%;
}
.search[type=text]{
    transition: width 0.4s ease-in-out;
}
.search[type=text]:focus{
    width:100%;
}

