@using ShareMate.Entities
@using ShareMate.BLL.Interfaces
@using ShareMate.Ioc
@using ShareMate
@using Ninject
@{
    Layout = "~/Layouts/GeneralLayout.cshtml";
}

@section Header{}
    <body>
        @if (!User.Identity.IsAuthenticated)
        {
            <h1 class="h1-title"> To see your Requests you have to Sign In</h1>
        }
        else
        {
            <h1 class="h1-title"> I Requested next files</h1>
            var userLogic = DependencyResolver.Kernel.Get<IUserLogic>();
            var fileLogic = DependencyResolver.Kernel.Get<IFileLogic>();
            var requestLogic = DependencyResolver.Kernel.Get<IRequestLogic>();
            foreach (var item in requestLogic.GetMyRequests(userLogic.GetIdByUsername(User.Identity.Name)))
            {
                <div class="file-row">
                    @fileLogic.GetFileById(item.FileId).FileName from @userLogic.GetUserById(item.OwnerId)
                </div>
            }
        }
    </body>