@using ShareMate.Entities
@using ShareMate.BLL.Interfaces
@using ShareMate.Ioc
@using ShareMate
@using Ninject
@{
    Layout = "~/Layouts/GeneralLayout.cshtml";
    var userLogic = DependencyResolver.Kernel.Get<IUserLogic>();
    var fileLogic = DependencyResolver.Kernel.Get<IFileLogic>();
    var accessLogic = DependencyResolver.Kernel.Get<IAccessLogic>();
}

@section Header{}
<body>
    @if (!User.Identity.IsAuthenticated)
    {
        <h1 class="h1-title"> To see your files you have to be Authenticated</h1>

    }
    else
    {
        int idUser = userLogic.GetIdByUsername(User.Identity.Name);
        //var mydegub = accessLogic.GetAccessByIdUser(idUser);
        foreach (int item in accessLogic.GetAccessByIdUser(idUser))
        {
            <div class="file-row">
                <div class="text-in-row">
                    @fileLogic.GetFileById(item).FileName
                    <a href="~/Pages/MyFilesLogic/DownloadFile.cshtml" class="download-file-button">Download</a>
                    <form action="~/Pages/MyFilesLogic/DeleteFile.cshtml" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="Action" value="DeleteFile">
                        <input type="hidden" name="FileId" value="@item">
                        <button type="submit" class="download-file-button">Delete</button>
                    </form>
                </div>
            </div>
        }
    }
</body>
