@using ShareMate.Entities
@using ShareMate.BLL.Interfaces
@using ShareMate.Ioc
@using ShareMate
@using Ninject
@{
    Layout = "~/Layouts/GeneralLayout.cshtml";
}

@section Header{}
<form>
    <input type="text" class="search" />
    <button type="submit"> Search!</button>
</form>